{% extends "page.html" %}

{% import 'macros/icon.html' as icon %}
{% import 'macros/tags.html' as tags %}

{% block page_subtitle %}
<h4 class="subheading flex justify-center items-center">
    Vertrauen <span class="mx-2 text-secondary-400">{{ icon.get("eye") }}</span> Kontrolle
</h4>
{% endblock %}

{% block page_header %}
<p class="mb-2">
    Öffentliche Daten nützen, private Daten schützen - mit dieser Formel beschreibt die "Hacker-Ethik" ein Grundverständnis, dem auch wir uns verpflichten:
</p>
<p>
    Beim Besuch unserer Webseite erheben, speichern & verarbeiten wir deshalb weder personenbezogene noch sonstige Zugriffsdaten und legen keinerlei "logfiles" an. Ein Kontaktformular haben wir zwar ebensowenig, freuen uns aber über (verschlüsselte) Emails!
</p>
{% endblock %}

{% block page_body %}
<div class="container my-32">
    <div class="flex flex-col lg:flex-row items-center">
        <blockquote class="px-8 lg:px-0 flex-1">
            <p class="quote text-gray-400">
                Talk is cheap. <span class="text-gray-500">Show me the code.</span>
            </p>
            <cite class="mt-8 lg:mt-4 flex flex-col sm:flex-row justify-center lg:justify-end items-center">
                <span class="-mt-px mb-2 sm:mb-0 sm:mr-2 text-secondary-400">{{ icon.get("megaphone") }}</span>
                <div class="text-center sm:text-right">
                    <a class="subheading subheading--link not-italic" href="https://de.wikipedia.org/wiki/Linux_(Kernel)" target="_blank">
                        Linus Torvalds (Linux-Kernel & Git)
                    </a>
                </div>
            </cite>
        </blockquote>
        <div class="order-first lg:order-last flex-none lg:ml-8 mb-8 lg:mb-0">
            {{ tags.picture(
                'rounded-full',
                'quotes/linus-torvalds',
                'quotes/linus-torvalds-pxl',
                'Linus Torvalds (Linux-Kernel & Git)',
                'Foto von Linus Torvalds',
                '200', '200'
            ) }}
        </div>
    </div>
</div>
{% endblock %}

{% block page_content_buttons %}
<a class="btn btn-primary" href="/">restart()</a>
<a class="btn btn-secondary" href="{{ REPO_URL }}">view_source()</a>
{% endblock %}
