<!DOCTYPE html>
<html class="no-js bg-circuits antialiased scroll-smooth" lang="{{ DEFAULT_LANG }}">
    <head>
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content="Pelican">
        <meta name="description" content="{{ SITEDESC }}">

        <style>{% include "css/styles.css" %}</style>

        <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico">

        {% block head %}
        {% endblock head %}
    </head>

    <body class="font-sans font-normal text-xl text-gray-800 leading-normal">
        <div class="fixed top-0 left-0 right-0 w-full h-4 bg-white z-100">
            <div id="js-scroll-progress" class="w-0 h-4 bg-secondary-400"></div>
        </div>

        <header class="mt-4 pt-24 pb-32 bg-circuits-alt shadow">
            <div class="container flex items-center">
                <div id="claim" class="text-white text-5xl text-shadow select-none">
                    Wir leben<br>
                    <div id="js-typewriter" class="block min-h-16 heading--dark text-6xl">
                        <span class="sr-only">Webdesign</span>
                    </div>
                </div>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer class="py-16 bg-circuits-alt shadow-inner">
            <div class="container">
                <p class="heading--dark mb-8 text-3xl text-center">
                    {{ SITENAME }}
                </p>
                <nav class="flex flex-col sm:flex-row justify-center items-center gap-x-8 gap-y-4 text-base">
                    <a class="subheading subheading--link" href="{{ PUBKEY_URL }}"
                        title="E4DC ED2F 3D46 B4CC 1AE9 D88D C05F A52A 163B D332">Public Key</a>
                    <a class="subheading subheading--link" href="{{ REPO_URL }}" title="Quellcode auf Codeberg">Quellcode</a>
                    {% for p in pages %}
                    <a class="subheading subheading--link" href="{{ SITEURL }}/{{ p.url }}" title="{{ p.title }}">{{ p.short|default(p.title) }}</a>
                    {% endfor %}
                </nav>
            </div>
        </footer>
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/main.js" defer></script>
    </body>
</html>
