{% extends "base.html" %}

{% import 'macros/icon.html' as icon %}
{% import 'macros/tags.html' as tags %}

{% block content %}
<article id="index">
    <div class="container px-4 max-w-4xl">
        <div class="-mt-16 px-2 sm:px-8 py-16 bg-white rounded shadow-md">
            <div class="mb-8 text-center sm:leading-loose">
                <h4 class="subheading mb-4 sm:mb-0 flex flex-col sm:flex-row justify-center items-center">
                    <span>Menschliches Design</span>
                    <span class="order-first sm:order-none mb-2 sm:mb-0 mx-2 text-secondary-400">{{ icon.get("heart") }}</span>
                    <span>Digitales Handwerk</span>
                </h4>
                <h2 class="heading text-4xl">
                    Freiburger Digitalbüro
                </h2>
            </div>
            <div class="px-2 sm:px-8">
                <p class="lg:text-2xl lg:text-justify">
                    Wir planen, errichten und betreuen kleine und große Webprojekte für alle, die mit gesundem Idealismus etwas bewegen wollen, und verwenden dabei ausschließlich freie und quelloffene Software, an deren Entwicklung wir uns außerdem aktiv beteiligen.
                </p>
            </div>
            <div class="mt-16 text-right">
                <a class="btn btn-primary" href="#referenzen">learn_more()</a>
                <a class="btn btn-secondary" href="mailto:{{ MAIL }}">send_mail()</a>
            </div>
        </div>
    </div>

    <div class="container my-32">
        <div class="flex flex-col lg:flex-row items-center">
            <div class="flex-none lg:mr-8 mb-8 lg:mb-0">
                {{ tags.picture(
                    'rounded-full',
                    'testimonials/dj-derbystarr',
                    'testimonials/dj-derbystarr-pxl',
                    'DJ dørbystarr (SKILLZ Award)',
                    'Foto von DJ dørbystarr',
                    '200', '200'
                ) }}
            </div>
            <blockquote class="px-8 lg:px-0 flex-1">
                <p class="quote text-gray-400">
                    Das sind <span class="text-gray-500">Programmierer mit Herz</span> - die finden für jedes Detail die optimale Lösung zum gestellten Problem!
                </p>
                <cite class="mt-8 lg:mt-4 flex flex-col sm:flex-row justify-center lg:justify-end items-center">
                    <span class="-mt-px mb-2 sm:mb-0 sm:mr-2 text-secondary-400">{{ icon.get("megaphone") }}</span>
                    <div class="text-center sm:text-right">
                        <a class="subheading subheading--link not-italic" href="https://skillz-leipzig.de" target="_blank">
                            DJ dørbystarr, SKILLZ Award (Leipzig)
                        </a>
                    </div>
                </cite>
            </blockquote>
        </div>
    </div>

    <div id="referenzen" class="mb-32 lg:flex bg-white relative shadow-md">
        <div class="container">
            <div class="content px-2 sm:px-8 py-32 lg:w-5/11">
                <h3>Gemeinsam erfolgreich</h3>
                <p>
                    Wir betreuen zivilgesellschaftliche Initiativen und Projekte, die Menschen zusammenbringen und die Welt verbessern wollen. Dabei begleiten wir den kreativen Prozess, stellen die richtigen Fragen und finden passende Lösungen - gewissenhaft und authentisch, (viel) mehr nicht.
                </p>
            </div>
        </div>

        <div class="group w-full lg:w-6/11 h-full lg:absolute lg:left-5/11 bg-circuits-alt relative">
            <div class="py-16 w-full h-full" aria-label="Unsere Referenzen">
                <div class="w-full h-full flex justify-center items-center">
                    <div class="inline-block relative">
                        <div id="desktop" class="-mt-8 -mr-24 pt-4 pb-2 w-112 h-84 flex flex-col justify-between items-center bg-primary-600 rounded-md relative z-10">
                            <div id="desktop-buttons" class="absolute left-3 top-2 flex gap-x-1">
                                <div class="w-2 h-2 bg-white rounded-full cursor-pointer"></div>
                                <div class="w-2 h-2 bg-white rounded-full cursor-pointer"></div>
                                <div class="w-2 h-2 bg-white rounded-full cursor-pointer"></div>
                            </div>
                            <div id="desktop-address-bar" class="w-72 h-3 bg-white rounded-sm cursor-text">
                                <div id="js-progress-bar" class="h-3 bg-gray-300"></div>
                            </div>
                            <div class="w-108 h-72 overflow-hidden relative rounded-sm">
                                {% for item in DATA_REFERENCES %}
                                {{ tags.picture(
                                    'js-desktop absolute rounded-sm',
                                    'references/' + item.handle + '_desktop',
                                    'references/' + item.handle + '_desktop-pxl',
                                    item.img_title,
                                    item.img_alt,
                                    '480', '320'
                                ) }}
                                {% endfor %}
                            </div>
                        </div>
                        <div id="mobile" class="absolute -left-24 -bottom-8 pt-3 pb-2 w-32 h-64 flex flex-col justify-between items-center bg-primary-500 rounded-xl z-20">
                            <div id="mobile-speaker" class="w-8 h-1 bg-primary-600 rounded-full"></div>
                            <div class="w-30 h-48 overflow-hidden relative rounded-sm">
                                {% for item in DATA_REFERENCES %}
                                {{ tags.picture(
                                    'js-mobile absolute rounded-sm',
                                    'references/' + item.handle + '_mobile',
                                    'references/' + item.handle + '_mobile-pxl',
                                    item.img_title,
                                    item.img_alt,
                                    '120', '192'
                                ) }}
                                {% endfor %}
                            </div>
                            <div class="flex flex-col items-center gap-y-2">
                                <div id="phone-button" class="w-5 h-5 border-2 border-primary-600 rounded-full cursor-pointer"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="js-overlay" class="absolute inset-0 opacity-0 group-hover:opacity-100 transition z-50 overflow-hidden">
                    <div class="w-full h-full relative">
                        {% for item in DATA_REFERENCES %}
                        <div class="js-details absolute py-32 w-full h-full flex flex-col justify-center items-center text-center bg-circuits-alt">
                            <h4 class="subheading text-2xl">{{ item.desc }}</h4>
                            <h3 class="heading--dark text-4xl">{{ item.name }}</h3>
                            <div class="mt-16 text-right">
                                <a class="btn btn-secondary--dark" href="{{ item.url }}" target="_blank">visit_page()</a>
                                <!-- <a class="btn btn-primary--dark" href="#">show_more()</a> -->
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <button
                    id="js-controls"
                    class="absolute right-2 bottom-2 flex justify-center items-center text-gray-300 z-75 hover:text-white transition"
                    type="button"
                    aria-label="Start/Stopp"
                >
                        {{ icon.get("play", "play hidden w-9 h-9") }}
                        {{ icon.get("pause", "pause w-9 h-9") }}
                </button>
            </div>
        </div>
    </div>

    <div class="container my-32">
        <div class="flex flex-col lg:flex-row items-center">
            <div class="flex-none lg:mr-8 mb-8 lg:mb-0">
                {{ tags.picture(
                    'rounded-full',
                    'testimonials/aileen',
                    'testimonials/aileen-pxl',
                    'Aileen (Fundevogel)',
                    'Foto von Aileen',
                    '200', '200'
                ) }}
            </div>
            <blockquote class="px-8 lg:px-0 flex-1">
                <p class="quote text-gray-400">
                    Die verknüpfen <span class="text-gray-500">Kompetenz mit Liebe zum Detail</span> auf kreative Weise - wir hatten viel Spaß bei der Zusammenarbeit!
                </p>
                <cite class="mt-8 lg:mt-4 flex flex-col sm:flex-row justify-center lg:justify-end items-center">
                    <span class="-mt-px mb-2 sm:mb-0 sm:mr-2 text-secondary-400">{{ icon.get("megaphone") }}</span>
                    <div class="text-center sm:text-right">
                        <a class="subheading subheading--link not-italic" href="https://fundevogel.de" target="_blank">
                            Aileen, Fundevogel (Freiburg)
                        </a>
                    </div>
                </cite>
            </blockquote>
        </div>
    </div>

    <div class="container px-4 max-w-4xl relative">
        <div class="px-2 sm:px-8 py-16 bg-white rounded shadow-md">
            <div class="mb-8 text-center leading-loose">
                <h4 class="subheading flex justify-center items-center">
                    Leidenschaft <span class="mx-2 text-secondary-400">{{ icon.get("fire") }}</span> Fortschritt
                </h4>
                <h2 class="heading text-4xl">
                    Das bessere Web
                </h2>
            </div>
            <div class="px-2 sm:px-8 flex flex-col gap-y-4">
                <p class="lg:text-2xl lg:text-justify">
                    Am Anfang des Wissens steht die Neugier. Für den digitalen Raum bedeutet das, Software untersuchen, anpassen und im Austausch mit anderen verbessern zu können. Aus diesem Grund erschaffen wir digitale Produkte und Marken auf Basis freier und quelloffener Software, beteiligen uns an deren Entwicklung und veröffentlichen eigene Projekte - transparent und offen für alle.
                </p>
                <p class="lg:text-2xl lg:text-justify">
                    Digitalbüro for Future: Wir setzen aus Überzeugung auf erneuerbare Energien und unterstützen das Freiburger <a class="link" href="https://www.klimaaktionsbuendnis-freiburg.de" target="_blank">Klimaaktionsbündnis</a>, um unsere natürlichen Lebensgrundlagen zu erhalten. Minimalistische Designs und eine kluge Programmierung verringern außerdem den Strombedarf - jede Kilowattstunde hilft!
                </p>
                <p class="lg:text-2xl lg:text-justify">
                    Projekte mit toller Idee, aber knappem Geldbeutel unterstützen wir deshalb im Rahmen unserer Möglichkeiten unentgeltlich, damit sich zukunftsweisende Ideen nicht verstecken müssen!
                </p>
            </div>
            <div class="mt-16 text-right">
                <!-- <a class="btn btn-primary" href="#projekte">learn_more()</a> -->
                <a class="btn btn-secondary" href="{{ REPO_URL }}">view_source()</a>
            </div>
        </div>
    </div>

    <div class="container my-32">
        <div class="flex flex-col lg:flex-row items-center">
            <blockquote class="px-8 lg:px-0 flex-1">
                <p class="quote text-gray-400">
                    Eine bemerkenswerte Mischung aus pragmatischer <span class="text-gray-500">Sachlichkeit und Einfallsreichtum</span> - so stelle ich mir Wickie auf Zaubertrank vor!
                </p>
                <cite class="mt-8 lg:mt-4 flex flex-col sm:flex-row justify-center lg:justify-end items-center">
                    <span class="-mt-px mb-2 sm:mb-0 sm:mr-2 text-secondary-400">{{ icon.get("megaphone") }}</span>
                    <div class="text-center sm:text-right">
                        <a class="subheading subheading--link not-italic" href="https://refbw.de" target="_blank">
                            Martin, RefBW (Baden-Württemberg)
                        </a>
                    </div>
                </cite>
            </blockquote>
            <div class="order-first lg:order-last flex-none lg:ml-8 mb-8 lg:mb-0">
                {{ tags.picture(
                    'rounded-full',
                    'testimonials/martin',
                    'testimonials/martin-pxl',
                    'Martin (RefBW)',
                    'Foto von Martin',
                    '200', '200'
                ) }}
            </div>
        </div>
    </div>
</article>
{% endblock content %}
