{% extends "page.html" %}

{% import 'macros/icon.html' as icon %}
{% import 'macros/tags.html' as tags %}

{% block page_subtitle %}
<h4 class="subheading flex justify-center items-center">
    Menschliches <span class="mx-2 text-secondary-400">{{ icon.get("scale") }}</span> Rechtliches
</h4>
{% endblock %}

{% block page_header %}
<address class="not-italic">
    <span class="font-medium">
        Diensteanbieter iSd {{ '§ 5 TMG' | gesetzify }}:
    </span>
    <p class="mt-4 mb-2">
        Digitalbüro &middot; Martin Folkers<br>
        Eschholzstraße 84, 79115 Freiburg
    </p>
    Telefon: <a class="link" title="" alt="" href="tel:+491776432322">+49 (0) 177 / 64 32 322</a><br>
    eMail: <a class="link" title="" alt="" href="mailto:{{ MAIL }}">{{ MAIL }}</a><br>
    Public Key: <a class="link" title="" alt="" href="{{ PUBKEY_URL }}" download>0xC05FA52A163BD332</a><br>
    Fingerprint: E4DC ED2F 3D46 B4CC 1AE9 D88D C05F A52A 163B D332
</address>
{% endblock %}

{% block page_body %}
<div class="container my-32">
    <div class="flex flex-col lg:flex-row items-center">
        <blockquote class="px-8 lg:px-0 flex-1">
            <p class="quote text-gray-400">
                The web is more <span class="text-gray-500">a social creation</span> than a technical one [...] to help people work together.
            </p>
            <cite class="mt-8 lg:mt-4 flex flex-col sm:flex-row justify-center lg:justify-end items-center">
                <span class="-mt-px mb-2 sm:mb-0 sm:mr-2 text-secondary-400">{{ icon.get("megaphone") }}</span>
                <div class="text-center sm:text-right">
                    <a class="subheading subheading--link not-italic" href="https://de.wikipedia.org/wiki/Internet" target="_blank">
                        Tim Berners-Lee (World Wide Web)
                    </a>
                </div>
            </cite>
        </blockquote>
        <div class="order-first lg:order-last flex-none lg:ml-8 mb-8 lg:mb-0">
            {{ tags.picture(
                'rounded-full',
                'quotes/tim-berners-lee',
                'quotes/tim-berners-lee-pxl',
                'Tim Berners-Lee (World Wide Web)',
                'Foto von Tim Berners-Lee',
                '200', '200'
            ) }}
        </div>
    </div>
</div>
{% endblock %}
