{% extends "base.html" %}

{% block title %}{{ page.short|default(page.title) }} | {{ SITENAME }}{% endblock %}

{% block content %}
<article id="{{ page.template }}">
    <div class="container px-4 max-w-4xl">
        <div class="-mt-16 mb-16 px-2 sm:px-8 py-16 bg-white rounded shadow-md relative">
            <div class="mb-8 text-center leading-loose">

                {% block page_subtitle %}{% endblock %}

                <h2 class="heading text-4xl">
                    {{ page.title }}
                </h2>
            </div>

            <div class="px-2 sm:px-8 lg:text-2xl lg:text-justify">

                {% block page_header %}{% endblock %}

            </div>
            <div class="mt-16 text-right">
                {% block page_header_buttons %}
                <a class="btn btn-primary" href="/">restart()</a>
                <a class="btn btn-secondary" href="mailto:{{ MAIL }}">send_mail()</a>
                {% endblock %}
            </div>
        </div>
    </div>

    {% block page_body %}{% endblock %}

    <div class="container mb-32 px-4 max-w-4xl relative">
        <div class="px-2 sm:px-8 py-16 bg-white rounded shadow-md">
            <div class="content px-2 sm:px-8 lg:text-justify">
                {{ page.content | gesetzify }}
            </div>
            <div class="mt-16 text-right">
                {% block page_content_buttons %}
                <a class="btn btn-primary" href="/">restart()</a>
                <a class="btn btn-secondary" href="mailto:{{ MAIL }}">send_mail()</a>
                {% endblock %}
            </div>
        </div>
    </div>

    {% block page_footer %}{% endblock %}

</article>
{% endblock %}
